<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>Main_FromFirstTry</string>
		<string>Main_WithTests</string>
		<string>Main</string>
		<string>ColorCritter</string>
		<string>Field</string>
		<string>HelperFunctions</string>
		<string>Demo1_Stillness</string>
		<string>Demo2_Avoiders</string>
		<string>Demo3_Streakers</string>
		<string>Demo4_AccidentalBlobs</string>
		<string>Demo5_BasicMating</string>
		<string>Demo6_PickyMating</string>
		<string>Demo7_JitteryBreeders</string>
		<string>Demo7_TinyBreeders</string>
		<string>Demo10_GroupStreakers</string>
		<string>Demo11_Aggression</string>
		<string>Restoration</string>
		<string>Demo9_FPSCappedBreeders</string>
	</array>
	<key>Dependencies</key>
	<array>
		<string>Documents:DraggableSafariView</string>
	</array>
</dict>
</plist>
