<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>Main_OfFirstTry</string>
		<string>Main_ForTests</string>
		<string>Main</string>
		<string>DemoControl</string>
		<string>ColorCritter</string>
		<string>Field</string>
		<string>Functions</string>
		<string>EarlyDemos</string>
		<string>BreedingDemos</string>
		<string>Demo10_GroupStreakers</string>
		<string>Demo11_Aggression</string>
		<string>Restoration</string>
		<string>DataInColors</string>
	</array>
	<key>Dependencies</key>
	<array/>
</dict>
</plist>
